// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// colors
$primary: #17a2b8;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #fff;


// globals
section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 742px) {
    display: block;
  }
}

.marginTop {
  margin-top: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.col1,
.col2 {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
}

// transitions
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
