// login
#login {
  background: linear-gradient(to right, $primary 0%, $primary 50%, #FFFFFF 50%, #FFFFFF 100%);

  @media screen and (max-width: 742px) {
    height: 100vh;
    background: #FFFFFF;
  }

  .col1,
  .col2 {
    height: 100vh;
    padding-top: 30vh;

    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }

  .col1 {
    color: #FFFFFF;

    @media screen and (max-width: 742px) {
      display: none;
    }

    p {
      max-width: 490px;
      margin-top: 2rem;
      line-height: 1.8;
    }

    a {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }


  .col2 {
    h1 {
      margin-bottom: 2rem;
    }

    form {
      max-width: 450px;
      margin: 0 auto;
    }

    .extras {
      float: right;
      text-align: right;

      a {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
}
